@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-image: -webkit-linear-gradient(bottom, #093009, #0f3c13, #16491c, #1c5626, #226430, #2c7537, #37873e, #439945, #5bb247, #77cc46, #96e643, #b8ff3c);
background-image: -o-linear-gradient(bottom, #093009, #0f3c13, #16491c, #1c5626, #226430, #2c7537, #37873e, #439945, #5bb247, #77cc46, #96e643, #b8ff3c);
background-image: linear-gradient(to top, #093009, #0f3c13, #16491c, #1c5626, #226430, #2c7537, #37873e, #439945, #5bb247, #77cc46, #96e643, #b8ff3c);
}
